.perfil-container {
    background: #f8fbff;
    border-radius: 16px;
    max-width: 950px;
    margin: 0px auto;
    max-height: fit-content;
}

/* Header con foto */
.perfil-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.perfil-foto img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--primary);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


/* GRID */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
}

/* Inputs */
.campo-group label {
    font-weight: 600;
    color: #1e3a8a;
    padding: 12px 14px;
}

.campo-group input {
    width: 100%;
    padding: 12px 14px;
    background: #f4f7fc;
    border: 1px solid #d9e2f3;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 5px;
}

/* Botones */
.acciones-centradas {
    grid-column: span 2;     /* <-- ocupa las dos columnas del grid */
    display: flex;
    justify-content: center; /* <-- centra horizontalmente */
}

.acciones-centradas {
    display: flex;
}

.btn-guardar {
    background: var(--primary);
    color: white;
    border: none;
    padding: 14px 40px;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    width: 280px; /* puedes ajustarlo */
}

.btn-guardar:hover {
    background: var(--primary-light);
}
