:root {
    --primary: #1e3a8a;
    --primary-light: #3b82f6;
    --primary-bg: #eff6ff;
    --accent: #2563eb;

    --text-dark: #1e293b;
    --text-light: #64748b;
    --white: #ffffff;
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: var(--primary-bg);
}

.container {
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--white);
    overflow: hidden;
}

/* PANEL IZQUIERDO */
.left-panel {
    padding: 120px;
    background: var(--primary);
    color: var(--white);
}

.left-panel h2 {
    margin-bottom: 20px;
}

.left-panel p, .left-panel h4 {
    margin-bottom: 15px;
}

.btn-secondary {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 22px;
    background: #ffffff;
    color: var(--primary);
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

/* PANEL DERECHO */
.right-panel {
    max-height: fit-content;
    padding: 0 50px 20px 40px;
}

.title {
    color: var(--primary);
    text-align: center;
    margin-bottom: 25px;
}

/* FORMULARIO */
.form label {
    display: block;
    font-weight: 600;
    color: var(--text-dark);
    margin-top: 15px;
}

.form input,
.form select {
    width: 90%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
    margin-top: 6px;
    font-size: 15px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.btn-primary {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: var(--accent);
    color: var(--white);
    border-radius: 6px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-primary:hover {
    background: var(--primary-light);
}


