body {
font-family: 'Segoe UI', sans-serif;
margin: 0;
background-color: #f9fbfd;
color: #333;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background: rgb(18, 12, 97);
padding: 25px 40px;
box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  outline: none;   
  border: none;    
}


.logo {
display: flex;
align-items: center;
gap: 2px;
}

.logo img {
height: 32px; 
width: 32px;
}

nav a {
margin: 0 10px;
text-decoration: none;
color: #fff;
font-weight: 500;
font-size: 1rem;
}

.btn-outline {/*login*/
border: 1px solid #fff;
padding: 6px 12px;
border-radius: 6px;
color: #fff;
}


.btn-primary {
background:  rgb(18, 12, 97);
width: 25%;
padding: 12px;
border-radius: 12px;
color: white;
font-weight: bold;
text-decoration: none;
display: inline-block;
margin-top: 10px;
}

.btn-donar {
background:  rgb(18, 12, 97);
width: 92%;
padding: 12px;
border-radius: 12px;
color: white;
font-weight: bold;
text-decoration: none;
display: inline-block;
margin-top: 10px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  /*background: #dfeeff;*/
  gap: 40px;
}

.hero-left {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.hero-left .mini {
  color: var(--primary);
  font-weight: 600;
  font-size: 1rem;
}

.hero-left h1 {
  font-size: 3.4rem;
  font-weight: 800;
  color: var(--text-dark);
}

.hero-right {
  flex: 1;
  background: var(--primary-light);
  padding: 20px;
  border-radius: 10px;
}

.hero-right img {
  width: 90%;
  border-radius: 12px;
}


.form-box {
max-width: 400px;
margin: 0 auto 30px;
background: white;
padding: 25px 20px;
border-radius: 12px;
box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.form-box label {
display: block;
text-align: left;
margin-bottom: 5px;
font-size: 14px;
color: #444;
}

select, input {
width: 100%;
padding: 10px;
border-radius: 6px;
border: 1px solid #ccc;
margin-bottom: 15px;
}

.boton, .btn-primary {
background: rgb(18, 12, 97);;
color: white;
padding: 12px;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 1rem;
transition: background 0.3s;
}

.boton:hover, .btn-primary:hover {
background:  rgb(18, 12, 97);;
}

.resultado {
margin-top: 20px;
font-size: 1rem;
color: #444;
text-align: center;
}

.turnos {
display: flex;
flex-direction: column;
gap: 15px;
margin-top: 20px;
}

.turnos .turno {
display: flex;
align-items: center;
gap: 15px;
background: #f1f5fc;
padding: 15px 20px;
border-radius: 10px;
box-shadow: 0 1px 5px rgba(0,0,0,0.1);
transition: transform 0.2s, box-shadow 0.2s;
}

.turnos .turno:hover {
transform: translateY(-2px);
box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.turnos .turno i {
font-size: 1.5rem;
color: #017bfe;
}

.titulo-solicitudes {
text-align: center;
width: 100%;
margin: 0 auto;
}

footer {
background:  rgb(18, 12, 97);;
color: white;
text-align: center;
padding: 20px;
font-size: 14px;
}

footer a {
color: white;
text-decoration: none;
margin: 0 5px;
}

footer a:hover {
text-decoration: underline;
}

.cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
padding: 40px;
}

.card {
background: white;
border-radius: 10px;
padding: 20px;
box-shadow: 0 1px 6px rgba(0,0,0,0.1);
transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
transform: translateY(-3px);
box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card-buttons {
display: flex;
justify-content: space-between;
margin-top: 15px;
}

.urgente { background: #ff6666; color: white; padding: 3px 10px; border-radius: 5px; }
.media { background: #ffd966; color: #444; padding: 3px 10px; border-radius: 5px; }
.baja { background: #b0e0e6; color: #333; padding: 3px 10px; border-radius: 5px; }

.accordion .item {
background: white;
border-radius: 10px;
margin: 10px auto;
max-width: 600px;
box-shadow: 0 1px 5px rgba(0,0,0,0.05);
}

.accordion-btn {
background: #f1f5fc;
border: none;
text-align: left;
width: 100%;
padding: 15px 20px;
font-size: 15px;
cursor: pointer;
font-weight: 500;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 8px;
transition: background 0.3s;
}

.accordion-btn:hover {
background: #e0ebff;
}

.accordion-btn::after {
content: '+';
font-weight: bold;
font-size: 20px;
color: #017bfe;
}

.accordion-btn.active::after {
content: '-';
}

.accordion-content {
display: none;
padding: 10px 20px 15px;
color: #555;
background: #f9fbfd;
}

.accordion-btn.active + .accordion-content {
display: block;
}

.contenedor {
text-align: center;
padding: 40px 20px;
}

.contenedor h2 {
font-size: 1.9rem;
color: #000;
}

.subtitulo {
color: #444;
margin-bottom: 25px;
}

.filtro {
display: flex;
justify-content: center;
margin-bottom: 30px;
}

.filtro-box {
display: flex;
align-items: center;
background: #ffffff;
border-radius: 30px;
padding: 6px 14px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
width: 230px;
}

.filtro-box .icono {
font-size: 16px;
color: #017bfe;
margin-right: 6px;
}

.filtro-box select {
border: none;
background: transparent;
font-size: 15px;
outline: none;
flex: 1;
}

.grid-cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
gap: 25px;
padding: 20px;
justify-items: center;
}

.card {
background: white;
border-radius: 12px;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
width: 100%;
max-width: 340px;
padding: 20px;
text-align: left;
transition: transform 0.2s;
}

.card:hover {
transform: translateY(-5px);
}

.card-header {
display: flex;
justify-content: space-between;
align-items: center;
}

.card h3 {
margin: 0;
color: #222;
}

.etiqueta {
display: inline-block;
font-size: 12px;
padding: 4px 8px;
border-radius: 12px;
color: white;
}

.etiqueta.urgente {
background: #f44336;
}
.etiqueta.media {
background: #ffc107;
color: #000;
}
.etiqueta.baja {
background: #2196f3;
}

.tipo-sangre {
  background: #e3f2fd;          /* azul clarito */
  padding: 15px 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;                     /* separa el título del valor */
  width: 90%;           /* se ajusta al contenido */
}

.tipo-sangre span {
  color: #555;
  font-size: 1rem;
  font-weight: 500;
}

.tipo-sangre h3 {
  margin: 0;
  font-size: 1.3rem;
  color: #017bfe;               /* azul fuerte para el tipo de sangre */
  font-weight: 600;
}

.info-extra {
font-size: 14px;
line-height: 1.4;
color: #555;
}

.descripcion-info {
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
background-color: #e8f3ff; 
border-left: 5px solid #007bff;
border-radius: 10px;
padding: 20px;
margin: 25px auto;
max-width: 750px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
text-align: left;
}

.descripcion-info p {
color: #222;
font-size: 1rem;
line-height: 1.6;
margin: 0;
}

.descripcion-info strong {
color: #007bff;
}

.info-icon {
width: 140px;
height: 140px;
opacity: 0.9;
}


.hospital {
font-size: 14px;
margin-top: 10px;
}

.botones {
display: flex;
justify-content: space-between;
margin-top: 15px;
}

.boton {
padding: 8px 15px;
border-radius: 6px;
border: none;
cursor: pointer;
font-weight: 600;
}

.boton.azul {
background: #017bfe;
color: white;
}

.boton.outline {
background: white;
border: 1px solid #017bfe;
color: #017bfe;
}

.mensaje-vacio {
color: #555;
font-style: italic;
grid-column: 1 / -1;
text-align: center;
}

.container-login {
  flex: 1;
  display: flex;
  min-height: calc(100vh - 120px); 
}

.container {
display: flex;
justify-content: center;
align-items: flex-start;
gap: 30px;
flex-wrap: wrap;
max-width: 1200px;
padding: 20px;
margin: 0 auto;
}

.card {
background: white;
padding: 25px;
border-radius: 25px;
width: 350px;
text-align: center;
display: flex;
flex-direction: column;
gap: 15px; /* ESPACIADO ENTRE TODOS LOS DIVS */
box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.foto-solicitante {
width: 110px;
height: 110px;
border-radius: 50%;
object-fit: cover;
margin: 0 auto 10px auto;
}

.nombre {
font-size: 20px;
font-weight: 600;
color: #333;
margin-bottom: 5px;
}

.tipo-sangre {
background: #e8f3ff;
padding: 15px;
border-radius: 15px;
}

.tipo-sangre span {
font-size: 16px;
color: #555;
}

.banner {
background: linear-gradient(135deg, #dbe9ff, #bcd6ff);
text-align: center;
padding: 60px 20px;
}

.banner h1 {
color: #1c2630;
font-size: 2rem;
margin-bottom: 10px;
}

.banner p {
color: #333;
font-size: 1.1rem;
}

.necesitan-donacion {
text-align: center;
margin: 30px auto;
max-width: 700px;
width: 90%;
}

.necesitan-donacion h2 {
color: #454444;
font-size: 1.8rem;
margin-bottom: 10px;
}

.necesitan-donacion p {
color: #000;
font-size: 1.1rem;
line-height: 1.5;
}

.imagen-donacion {
display: flex;
justify-content: center;
margin: 30px 0;
}

.imagen-donacion img {
max-width: 500px;
width: 90%;
border-radius: 10px;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.beneficios {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 25px;
padding: 50px 0;
background:#dfeeff;
}

.beneficio {
background: white;
border-radius: 10px;
box-shadow: 0 2px 10px rgba(0,0,0,0.05);
width: 260px;
padding: 20px;
text-align: center;
}

.beneficio img {
width: 50px;
margin-bottom: 10px;
}

.beneficio h3 {
color: #1669c2;
font-size: 1.1rem;
margin-bottom: 5px;
}

.beneficio p {
font-size: 0.95rem;
color: #444;
}

.beneficio img{
  width: 40%;
  height: 45%;
}

/* --- Formulario --- */
.formulario {
max-width: 600px;
margin: 40px auto;
background: white;
padding: 30px;
border-radius: 12px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.formulario h2 {
text-align: center;
color: #1a4ea8;
margin-bottom: 20px;
}

.campo {
margin-bottom: 18px;
}

label {
display: block;
font-weight: 600;
margin-bottom: 6px;
color: #1c2630;
}

select,
input[type="text"],
input[type="number"],
input[type="date"],
textarea {
width: 100%;
padding: 10px;
border-radius: 8px;
border: 1px solid #c5d9f7;
background-color: #f5f9ff;
font-size: 15px;
color: #333;
transition: border 0.2s;
}

select:focus,
input:focus,
textarea:focus {
border-color: #4d97e6;
outline: none;
}

textarea {
resize: vertical;
min-height: 80px;
}

.boton {
display: block;
width: 100%;
padding: 12px;
background: #4d97e6;
color: white;
font-size: 16px;
font-weight: 600;
border: none;
border-radius: 8px;
cursor: pointer;
margin-top: 10px;
transition: background 0.3s;
}

.boton:hover {
background: #0056c1;
}

.active{
  text-decoration: none;
}
    .faq-hero {
      text-align: center;
      padding: 40px 20px;
    }
    .faq-hero h1 {
      font-size: 2rem;
      margin-bottom: 10px;
      color: #232527;
    }
    .faq-hero p {
      font-size: 1.1rem;
      color: #333;
    }

    .faq {
      max-width: 800px;
      margin: 40px auto;
      padding: 0 20px;
    }
    .faq h2 {
      color: #017bfe;
      text-align: center;
      margin-bottom: 10px;
    }
    .faq p {
      text-align: center;
      margin-bottom: 30px;
      color: #444;
    }

    .accordion {
      max-width: 600px; 
      margin: 0 auto 40px auto;
    }
    .accordion .item {
      background: white;
      border-radius: 10px;
      margin: 15px 0; 
      box-shadow: 0 1px 6px rgba(0,0,0,0.1);
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .accordion-btn {
      background: #f1f5fc;
      border: none;
      text-align: left;
      width: 100%;
      padding: 15px 20px;
      font-size: 16px;
      cursor: pointer;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 1px 5px rgba(0,0,0,0.1);
      transition: all 0.3s ease;
    }
    .accordion-btn::after {
      content: '+';
      font-weight: bold;
      font-size: 20px;
      color: #017bfe;
    }
    .accordion-btn.active::after {
      content: '-';
    }
    .accordion-content {
      display: none;
      padding: 0 20px 15px;
      color: #555;
      background: #f9fbfd;
    }

  .agendar-donacion {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.contenedor-agendar {
  display: flex;
  width: 100%;
  max-width: 1000px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}


/* Formulario derecha */
.agendar-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Ajustar textos */
.necesitan-donacion h2 {
  font-size: 1.8rem;
  color: #454444;
}

.necesitan-donacion p {
  color: #000;
  margin-bottom: 20px;
}

.agendar-donacion-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Columna izquierda */
.agendar-hero-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.agendar-hero-left img {
  width: 90%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Columna derecha */
.agendar-hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo-agendar {
  font-size: 2rem;
  font-weight: 800;
  color: #1c2630;
  margin: 0;
}

.subtitulo-agendar {
  color: #444;
  font-size: 1rem;
  margin-top: -5px;
}

/* Formulario */
.formulario-agendar {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario-agendar label {
  font-weight: 600;
  color: #1c2630;
  margin-bottom: 5px;
}

.formulario-agendar input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #c5d9f7;
  background: #f5f9ff;
  font-size: 15px;
  width: 95%;

}

.formulario-agendar input:focus {
  outline: none;
  border-color: #4d97e6;
}

.boton-agendar {
  background: #4d97e6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.boton-agendar:hover {
  background: #0056c1;
}

/* Responsive */
@media (max-width: 850px) {
  .agendar-donacion-hero {
    flex-direction: column;
    text-align: center;
  }

  .agendar-hero-left img {
    width: 100%;
  }

  .agendar-hero-right {
    width: 100%;
  }
}

.acciones {
    text-align: center;
    margin-top: 20px;
}
