{% extends "partials/doctor_nav.html" %}

{% block titulo %}Citas{% endblock %}
{% block titulo_header %}Gestión de Citas{% endblock %}

{% set active_page = "citas" %}

{% block contenido %}
    <table class="tabla-agendamientos">
        <thead>
            <tr>
                <th>Donante</th>
                <th>Receptor</th>
                <th>Fecha del turno</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.nombre_completo_donante }}</td>
                <td>{{ item.nombre_completo_receptor }}</td>
                <td>{{ item.fecha_agendamiento }}</td>
                <td>
                  <a href="{{ url_for('donaciones_web.mostrar_evaluacion', id_agendamiento=item.id_agendamiento) }}" class="btn-ver">
                    Evaluación
                  </a>                
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

  <script>
  document.addEventListener("DOMContentLoaded", () => {
  let filas = [...document.querySelectorAll("tbody tr")];

  filas.sort((a, b) => {
    const fechaA = new Date(a.children[2].innerText);
    const fechaB = new Date(b.children[2].innerText);
    return fechaA - fechaB;
  });

  const tbody = document.querySelector("tbody");
  tbody.innerHTML = "";
  filas.forEach(f => tbody.appendChild(f));
});
</script>
</body>
</html>
