<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Citas</title>
  <link rel="stylesheet" href="../static/css/citas.css">
  <script defer src="js\citas.js"></script>
</head>
<body>
  <aside class="sidebar">
    <div>
      <div class="logo">VitaLink</div>
      <nav>
        <a href="solicitudes.html">Solicitudes</a>
        <a href="citas.html" class="active">Citas</a>
      </nav>
    </div>
    <div class="bottom">Cerrar sesión</div>
  </aside>

  <div class="main">
    <header class="header">
      <h2>Gestión de Citas</h2>
      <div class="user"><img src="#" alt=""> Admin</div>
    </header>

    <div class="content">
      <table class="table">
        <thead>
          <tr>
            <th>Donante</th>
            <th>Fecha/Hora</th>
            <th>Banco</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
      
          
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
