{% extends "partials/doctor_nav.html" %}

{% block titulo %}Crear Doctor{% endblock %}
{% block titulo_header %} Doctor{% endblock %}

{% block contenido %}

<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/crearUsuario.css') }}">

<div class="perfil-container">

<form action="{{ url_for('donaciones_web.crear_doctor') }}"
      method="POST" 
      class="grid-2">

    <div class="campo-group">
        <label >Nombre</label>
        <input type="text" name="nombre" required>
    </div>

    <div class="campo-group">
        <label>Apellido</label>
        <input type="text" name="apellido"  required>
    </div>

    <div class="campo-group">
        <label>Correo</label>
        <input type="email" name="email" required>
    </div>

    <div class="campo-group">
        <label>Contraseña</label>
        <input type="password" name="contrasena" required>
    </div>

    <div class="campo-group">
        <label>Teléfono</label>
        <input type="text" name="telefono">
    </div>

    <div class="campo-group">
        <label>Especialidad</label>
        <input type="text" name="especialidad"> 
    </div>

    <div class="campo-group">
    <label>Matrícula</label>
        <input type="text" name="matricula">
    </div>

    <div class="acciones-centradas">
        <button type="submit" class="btn-guardar">
            Guardar
        </button>
    </div>
</form>
</div>
{% endblock %}