{% extends "partials/doctor_nav.html" %}

{% block titulo %}Registros{% endblock %}
{% block titulo_header %}Registros de Donaciones{% endblock %}

{% set active_page = "completados" %}

{% block contenido %}
<table class="tabla-agendamientos">
  <thead>
    <tr>
      <th>Donante</th>
      <th>Receptor</th>
      <th>Fecha</th>
      <th>Tipo de Sangre</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    {% for item in data %}
    <tr>
      <td>{{ item.nombre_completo_donante }}</td>
      <td>{{ item.nombre_completo_receptor }}</td>
      <td>{{ item.fecha_agendamiento }}</td>
      <td style="text-align: center;">{{ item.tipo_sangre }}</td>
      <td>{{ item.estado_agendamiento }}</td>
      <td  style="text-align: center;">
        <a href="{{ url_for('donaciones_web.mostrar_registro_evaluacion', id_agendamiento=item.id_agendamiento) }}" class="btn-ver">
          Ver
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ url_for('donaciones_web.descargar_pdf_agendamientos') }}" class="btn-reporte">
  Generar Reporte
</a>
{% endblock %}
