<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dudas - VitaLink</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <style>
    
    footer {
      background: #017bfe;
      color: white;
      text-align: center;
      padding: 25px 20px;
      font-size: 14px;
    }
    .footer-links a {
      color: white;
      text-decoration: none;
      margin: 0 5px;
    }
    .footer-links a:hover {
      text-decoration: underline;
    }
    .active{
        text-decoration: none;
    }
  </style>
</head>
<body>

  <header class="navbar">
    <div class="logo">
      <a href="{{ url_for('donaciones_web.index') }}" class="active">
      <img src="../static/img/logo.png" alt="VitaLink">
      <span>VitaLink</span>
      </a>
    </div>
    <nav>
      <a href="{{ url_for('donaciones_web.agendar_donacion') }}">Quiero donar</a>
      <a href="{{ url_for('donaciones_web.mostrar_info') }}"}>Dudas</a>
      <a href="../templates/registro.html">Registro</a>
      <a href="../templates/login.html" class="btn-outline">Iniciar sesión</a>
      <a href="../templates/login.html">Admin</a>
    </nav>
  </header>

  <footer>
    <span>VitaLink</span>
    <p>© 2025 VitaLink — Sistema de Gestión de Donantes de Sangre</p>
    <div class="footer-links">
      <a href="#">Política de privacidad</a> |
      <a href="#">Términos de uso</a> |
      <a href="#">Contacto</a>
    </div>
  </footer>

  <script>
    const accordionBtns = document.querySelectorAll('.accordion-btn');
    accordionBtns.forEach(btn => {
      btn.addEventListener('click', () => {
        btn.classList.toggle('active');
        const content = btn.nextElementSibling;
        if(content.style.display === "block"){
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    });
  </script>
  
</body>
</html>
