<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Donante</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/registroDonante.css') }}">
</head>

<body>

<div class="container">

    <!-- PANEL IZQUIERDO -->
    <div class="left-panel">
        <h2>INFORMACIÓN</h2>

        <p>
            Regístrate como donante para poder agendar citas, ver tu historial 
            y recibir notificaciones importantes sobre tus donaciones.
        </p>

        <h4>Beneficios</h4>
        <p>
            ✔ Informacion sobre el banco de sangre<br>
            ✔ Historial de donaciones<br>
            ✔ Agendamiento rápido<br>
        </p>

        <a href="{{ url_for('donaciones_web.login') }}" class="btn-secondary">¿Ya tienes una cuenta?</a>
    </div>

    <!-- PANEL DERECHO -->
    <div class="right-panel">
        
        <h2 class="title">REGISTRO DE DONANTE</h2>

        <form class="form" method="POST" action="#">

            <div class="grid-2">
                <div>
                    <label>Nombre</label>
                    <input type="text" name="nombre" required >
                </div>

                <div>
                    <label>Apellido</label>
                    <input type="text" name="apellido" required>
                </div>
            </div>

            <label>Correo electrónico</label>
            <input type="email" name="email" class="correo" required>

            <label>Teléfono</label>
            <input type="tel" name="telefono" class="telefono" required>

            <div class="grid-2">
                <div>
                    <label>Contraseña</label>
                    <input type="password" name="password" required>
                </div>

                <div>
                    <label>Confirmar contraseña</label>
                    <input type="password" name="password2" required>
                </div>
            </div>

            <button type="submit" class="btn-primary">Registrarse</button>

        </form>
    </div>

</div>

</body>
</html>
