{% extends "partials/doctor_nav.html" %}

{% block titulo %}Registros{% endblock %}
{% block titulo_header %}Registros de Donacione{% endblock %}

{% set active_page = "completados" %}

{% block contenido %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro_donacion.css') }}">
</head>

<div class="perfil-card">

    <!-- COLUMNA IZQUIERDA -->
    <div class="perfil-col-izq">
        <div class="perfil-foto-box">
            <img src="{{ url_for('static', filename='img/icono.jpg') }}" class="perfil-foto" alt="Foto">
        </div>

        <h2 style="align-content: center;">{{ agendamiento.nombre }} {{ agendamiento.apellido }}</h2>
        <h3>{{ agendamiento.edad }} años</h3>

        <p class="tipo-sangre">
            <span>🩸</span>
            Tipo de sangre: <strong>{{ agendamiento.tipo_sangre }}</strong>
        </p>

        
    </div>

    <!-- COLUMNA DERECHA -->
    <div class="perfil-col-der">
        <div class="info-box">
            <p class="label">Fecha de donación</p>
            <p class="value">{{agendamiento.ultima_donacion}}</p>
            <p class="label">Receptor</p>
            <p class="value">{{ agendamiento.receptor_nombre_completo }}</p>
            <span class="estado {{ 'aceptado' if agendamiento.estado else 'rechazado' }}">
            {{ 'Aceptado' if agendamiento.estado else 'Rechazado' }}
        </span>
        </div>

    </div>

</div>

<!-- === 4 BLOQUES DE DETALLES === -->
<section class="vitales-grid">

    <div class="vital-box">
        <p class="vital-label">Peso</p>
        <p class="vital-value">{{ agendamiento.peso or "-" }}</p>
    </div>

    <div class="vital-box">
        <p class="vital-label">Presión</p>
        <p class="vital-value">{{ agendamiento.presion_arterial or "-" }}</p>
    </div>

    <div class="vital-box">
        <p class="vital-label">Hemoglobina</p>
        <p class="vital-value">{{ agendamiento.hemoglobina or "-" }}</p>
    </div>

    <div class="vital-box">
        <p class="vital-label">Temperatura</p>
        <p class="vital-value">{{ agendamiento.temperatura or "-" }}</p>
    </div>

</section>

{% endblock %}
