<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicitudes</title>
  <link rel="stylesheet" href="C:\Users\johan\Downloads\sistemads\css\citas.css">
  <script defer src="C:\Users\johan\Downloads\sistemads\js\citas.js"></script>
</head>
<body>
  <aside class="sidebar">
    <div>
      <div class="logo">VitaLink</div>
      <nav>
        <a href="solicitudes.html" class="active">Solicitudes</a>
        <a href="citas.html">Citas</a>
      </nav>
    </div>
    <div class="bottom">Cerrar sesión</div>
  </aside>

  <div class="main">
    <header class="header">
      <h2>Solicitudes de Donación</h2>
      <div class="user"><img src="#" alt=""> Admin</div>
    </header>

    
    </div>
  </div>
</body>
</html>
